.btn{
text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    /* treated as if it was text element */
    border-radius: 10rem;
    font-size: $default-font-size;

}
