.pair{
    font-size: 2rem;
    &--table{

        p{
            margin: 0;
            padding: 0;
        }

        input{
            font-size: 2rem;
            margin: 0;
            padding: 0;
        }
        display: inline-block;
        font-size: 2rem;
    }
}