*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* every element on the page will have box-sizing: inherit 
    which means box-sizing will be inherited from the body
    as that is the parent element of each child element of 
    body*/
html {
  font-size: 62.5%; }

/* font size will be 16px at 100% if the user doesnt change anything */
/* we want it to be 10px so we use 65.5% */
body {
  padding: 3rem;
  box-sizing: border-box; }

/* padding doesnt get inherited, just a padding around the body */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #55c57a;
  font-size: 5rem;
  text-decoration: underline; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /* treated as if it was text element */
  border-radius: 10rem;
  font-size: 1.8rem; }

.heading-primary {
  margin: -4rem 0rem 0rem -2rem; }
